@import 'tailwindcss';

@layer components {
  .btn-rounded {
    @apply px-5 rounded-md py-1 h-fit bg-transparent cursor-pointer w-fit;
  }
  .rounded-box {
    @apply p-3 rounded-xl bg-white dark:bg-black
  }
}

@utility li-style {
  @apply flex relative gap-2 items-center ml-3 w-full sm:w-fit md:w-full md:px-4 before:content-[""] py-1.5
  before:absolute before:left-[-12px] before:w-1 before:rounded-br-lg before:rounded-tr-lg before:h-full 
  hover:bg-[#157ae5be] hover:text-white hover:before:bg-[#157ae5be] transition-all duration-300 delay-200 before:delay-0;
}
@hteme {
  :root {
    --color-primary: #1579e5;
  }

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}
